.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th{
    padding: 0;
}

.mdl-button--raised.mdl-button--colored {
    background: #009688;
}
.mdl-button--raised.mdl-button--colored:active, .mdl-button--raised.mdl-button--colored:focus,
.mdl-button--raised.mdl-button--colored:hover {
    background: #00aa9a;
}

#loading {
    background: center no-repeat #fff;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.dataTables_filter .form-control:focus {
    border: 0;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.list-table td {
    text-align: center;
}

span.number {
    float: right;
    margin-right: 3em;
    white-space: nowrap;
}

.actions-col {
    width: 1%;
}

.actions-col .btn-group {
    white-space: nowrap;
}

.actions-col .btn-group a.btn {
    float: none;
}

.totals {
    font-size: 2em;
}

.totals > div {
    margin-bottom: 1em;
}

.total-text {
    font-size: 0.5em;
}

#total-balance {
    border-left: 4px solid #00a7f7;
}

#total-income {
    border-left: 4px solid #89c541;
}

#total-expense {
    border-left: 4px solid #f7412d;
}

.dataTables_empty {
    padding-left: 1em !important;
    height: 3em;
}

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

#list_filter_form:not(.filtered) {
    display: none;
}

#list_filter_form .form-group {
    margin-top: 0;
}

tfoot tr {
    height: 3em;
    border-top: 0.2em solid #009688
}

.mdl-js-menu a[href]:focus, .mdl-js-menu a[href]:hover {
    text-decoration: none;
}